<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSFGiris</display-name>

<!-- jsf 2.0 versiyonu icin bu tanimi yapiyorduk.
	 2.2 somrasi icin bu tanima gerek yoktur. -->

<servlet>
	<servlet-name>FacesServletName</servlet-name>
	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FacesServletName</servlet-name>
	<url-pattern>*.xhtml</url-pattern>
</servlet-mapping>
<!-- sonu xhtml ile bitenleri facesServlete gonder... -->


</web-app>